<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<div class="container">

  <h3 style="margin: 50px" class="rounded"> Résultat de recherche pour : {{motClef}} </h3>
   <div style="display: inline-flex">

     <div class="input-group col-md-auto">

       <input type="text" class="form-control"  [(ngModel)]="searchText" placeholder="Titre,Auteur..">
       <div class="input-group-btn">
         <button class="btn btn-default" type="submit">
           <i class="fa fa-search"></i>
         </button>
       </div>

     </div>
     <div class="form-group col-md-8">

       <select class="form-control"  #category (change)="getBooksByCategory($event.target.value)">
         <option>--Select Catégorie--</option>
         <option value="Fiction">Fiction</option>
         <option value="Children">Children's Storys</option>
         <option value="Operas">Operas</option>
         <option value="Travel">Travel</option>
         <option value="Crime">Crime</option>
         <option value="Psychology">Psychology</option>
         <option value="Computers">Computers</option>
         <option value="Education">Education</option>
         <option value="Health">Health </option>
         <option value="Family">Family</option>
         <option value="Law">Law</option>
         <option value="Business">Business</option>
       </select>
     </div>

   </div>

  <hr>
  <br>

  <div class="row text-center text-lg-left">


    <div class="col-lg-3 col-md-4 col-xs-6" *ngFor="let book of books | search: searchText">
      <div>
        <a href="#" ng-reflect-href="#" (click)="selectedBook=book" data-toggle="modal" data-target="#myModal" >
          <h4 *ngIf="book.volumeInfo.title"> {{book.volumeInfo.title.substr(0,25)}} ... </h4>
        </a>

        <p> Auteurs : {{book.volumeInfo.authors}}</p>
        <p *ngIf="book.volumeInfo.publishedDate"> {{book.volumeInfo.publishedDate}} </p>

        <a *ngIf="book.volumeInfo.imageLinks" href="#" ng-reflect-href="#" (click)="selectedBook=book" data-toggle="modal" data-target="#myModal" class="d-block mb-4 h-100" >
          <img class="img-fluid img-thumbnail" src="{{book.volumeInfo.imageLinks.thumbnail}}" alt="">
        </a>
      </div>




    </div>
    <br> <br>
  </div>
</div>


<div *ngIf="selectedBook" class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content" style="height: 600px;">

      <!-- Modal Header -->
      <div class="modal-header">
        <h6 class="modal-title" style="margin-left:0%">{{selectedBook.volumeInfo.title.substr(0,100)}} </h6>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div *ngIf="selectedBook.volumeInfo.imageLinks" class="col-md-4"><img src="{{selectedBook.volumeInfo.imageLinks.thumbnail}}"></div>
            <div *ngIf="selectedBook.volumeInfo.description" class="col-md-8 ml-auto">{{selectedBook.volumeInfo.description.substr(0,304)}}</div>
          </div>
          <div class="row">
            <div class="col-md-3 ml-auto"></div>
            <div class="col-md-11 ml-auto">
              <a href="{{selectedBook.volumeInfo.previewLink}}"> Lien <i class="fa fa-link"></i></a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 ml-auto">
              <h6> langue : <span style="color: darkgray">{{selectedBook.volumeInfo.language}} </span> <br> </h6> <h6>Pays : <span style="color: darkgray">{{selectedBook.saleInfo.country}} </span> </h6>

            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <h6> Categories : <span style="color: darkgray">{{selectedBook.volumeInfo.categories}} </span> </h6>
              <div class="row">
                <div class="col-8 col-sm-8">
                  <h6> Auteurs: <span style="color: darkgray">  {{selectedBook.volumeInfo.authors}} </span></h6>
                </div>
                <div class="col-4 col-sm-8">
                  <h6> Publisher: <span style="color: darkgray"> {{selectedBook.volumeInfo.publisher}} </span> Date : <span *ngIf="selectedBook.volumeInfo.publishedDate" style="color: darkgray"> {{selectedBook.volumeInfo.publishedDate}} </span> </h6>

                </div>
              </div>
            </div>

          </div>

        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>


      </div>
    </div>
  </div>
</div>




