


  <div style="text-align:center;margin-top: 200px">
    <img width="300" alt="Angular Logo" src="../assets/Logo-adictiz.png">
    <h6>Books</h6>
  </div>
  <div class="container">

    <br/>
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">
        <form class="card card-sm">
          <div class="card-body row no-gutters align-items-center">

            <!--end of col-->
            <div class="col">
              <input #motclef class="form-control form-control-lg form-control-borderless" type="search" placeholder="Chercher Des Livres ..">
            </div>
            <!--end of col-->
            <div class="col-auto">
              <button  (click)="getResult(motclef.value)" class="btn btn-lg btn-primary" type="submit">Recherche</button>
            </div>
            <!--end of col-->
          </div>
        </form>
      </div>
      <!--end of col-->
    </div>
  </div>
